In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
# Boargame genres dataframe
df_genre = pd.read_csv('C:/Users/guije/Documents/boardgames_databases/bgg_ranks.csv')
df_genre.shape

(152705, 15)

In [3]:
df_genre.columns

Index(['id', 'name', 'yearpublished', 'rank', 'bayesaverage', 'average',
       'usersrated', 'abstracts_rank', 'cgs_rank', 'childrensgames_rank',
       'familygames_rank', 'partygames_rank', 'strategygames_rank',
       'thematic_rank', 'wargames_rank'],
      dtype='object')

In [4]:
genres_dict = {}
genres_dict["abstracts"] = []
genres_dict["cgs"] = []
genres_dict["childrensgames"] = []
genres_dict["familygames"] = []
genres_dict["partygames"] = []
genres_dict["strategygames"] = []
genres_dict["thematic"] = []
genres_dict["wargames"] = []

In [5]:
for genre in df_genre.columns[7:]:
    genres_dict[genre[:-5]] = df_genre.name[df_genre[genre] == df_genre[genre]]

In [6]:
genres_dict.keys()

dict_keys(['abstracts', 'cgs', 'childrensgames', 'familygames', 'partygames', 'strategygames', 'thematic', 'wargames'])

In [7]:
list(genres_dict['cgs'])[:5]

['Arkham Horror: The Card Game',
 'Marvel Champions: The Card Game',
 'Android: Netrunner',
 'The Lord of the Rings: The Card Game',
 'Magic: The Gathering']

In [8]:
df_genre[['name', 'cgs_rank']][df_genre.name == 'Arkham Horror: The Card Game']

                            name  cgs_rank
26  Arkham Horror: The Card Game       1.0

In [9]:
# User reviews dataframe
start = time.time()
path = 'C:/Users/guije/Documents/boardgames_databases/bgg-19m-reviews.csv'
tfr = pd.read_csv(path , usecols=['user', 'rating', 'name'], chunksize=100000)
print('Operation completed in ', time.time() - start, 'seconds.')

Operation completed in  0.006247997283935547 seconds.

In [10]:
start = time.time()

for num, chunk in enumerate(tfr):
    df = pd.DataFrame(chunk)
    df = df.assign(genre='unknown')
            
    for game in set(df.name):
        for genre, series in genres_dict.items():
            if game in series.values:
                index = df.index[df.name == game]
                df.loc[index, 'genre'] = genre

    if num == 0:
        df_ug = df.copy()
    else:
        df_ug = pd.concat([df_ug, df], ignore_index=True)
     
    if num % 18 == 0:
        print(f"{round(((num+1)/189.64807)*100, 2)}% done in {round(time.time() - start, 2)} seconds.")

0.53% done in 1.01 seconds.
10.02% done in 18.35 seconds.
19.51% done in 32.63 seconds.
29.0% done in 47.15 seconds.
38.49% done in 65.33 seconds.
47.98% done in 85.3 seconds.
57.47% done in 107.59 seconds.
66.97% done in 132.67 seconds.
76.46% done in 160.81 seconds.
85.95% done in 193.88 seconds.
95.44% done in 241.9 seconds.

In [11]:
df_ug.shape

(18964807, 4)

In [12]:
for genre in genres_dict.keys():
    print(f"There's {len(df_ug[df_ug.genre == genre])} reviews of genre {genre}.")

There's 581786 reviews of genre abstracts.
There's 267045 reviews of genre cgs.
There's 245052 reviews of genre childrensgames.
There's 4273773 reviews of genre familygames.
There's 1587616 reviews of genre partygames.
There's 6536143 reviews of genre strategygames.
There's 2859561 reviews of genre thematic.
There's 1211373 reviews of genre wargames.

In [13]:
df_ug.head()

              user  rating      name          genre
0          Torsten    10.0  Pandemic  strategygames
1  mitnachtKAUBO-I    10.0  Pandemic  strategygames
2           avlawn    10.0  Pandemic  strategygames
3       Mike Mayer    10.0  Pandemic  strategygames
4          Mease19    10.0  Pandemic  strategygames

In [14]:
df_ug.tail()

               user  rating  name    genre
18964802     Ceryon     3.1  Haps  unknown
18964803  Gregarius     2.0  Haps  unknown
18964804      Lajos     2.0  Haps  unknown
18964805    Imagine     1.0  Haps  unknown
18964806   gonzo104     1.0  Haps  unknown

In [15]:
df_ug.genre.value_counts()

genre
strategygames     6536143
familygames       4273773
thematic          2859561
partygames        1587616
unknown           1402458
wargames          1211373
abstracts          581786
cgs                267045
childrensgames     245052
Name: count, dtype: int64

In [17]:
df_genre[df_genre.name == 'Haps']

,id,name,yearpublished,rank,bayesaverage,average,usersrated,abstracts_rank,cgs_rank,childrensgames_rank,familygames_rank,partygames_rank,strategygames_rank,thematic_rank,wargames_rank
23503,1752,Haps,2000,23504,5.48846,4.7375,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
len(set(df_ug.name[df_ug.genre == 'unknown']))

9218

<p>
    There's 9,218 boardgames with unknown genre in the database.
</p>

In [21]:
path = 'C:/Users/guije/Documents/boardgames_databases/bgg-19m-revgen.csv'
df_ug.to_csv(path, encoding='utf-8', index=False)